<TMPL_INCLUDE NAME="partial/head.tmpl">

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#overview" data-toggle="tab">overview</a>
      </li>
      <TMPL_LOOP NAME="CATEGORIES">
        <li>
	  <a href="#<TMPL_VAR ESCAPE="HTML" NAME="NAME">" data-toggle="tab"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
        </li>
      </TMPL_LOOP>
    </ul>

    <div id="my-tab-content" class="tab-content">

      <div class="tab-pane fade in active" id="overview">
        <TMPL_LOOP NAME="CATEGORIES">
  <div id="overview-<TMPL_VAR ESCAPE="HTML" NAME="NAME">">
    <div class="row">
      <div class="col-xs-12"><h3 class="nobottom"> <TMPL_VAR ESCAPE="HTML" NAME="NAME"></h3></div>
    </div>
    <TMPL_LOOP NAME="SERVICES">
    <div class="row">
      <div class="col-xs-12 lighttext">:: <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URLX">"><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></a></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="<TMPL_VAR NAME="URLX">"><img src="<TMPL_VAR NAME="IMGDAY">" alt="<TMPL_VAR ESCAPE="HTML" NAME="LABEL">" <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/></a>
      </div>
      <div class="col-md-6">
        <a href="<TMPL_VAR NAME="URLX">"><img src="<TMPL_VAR NAME="IMGWEEK">" alt="<TMPL_VAR ESCAPE="HTML" NAME="LABEL">" <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/></a>
      </div>
    </div>
    </TMPL_LOOP>
  </div>
  </TMPL_LOOP>
    </div><!-- overview -->

      <TMPL_LOOP NAME="CATEGORIES">
        <div class="tab-pane fade" id="<TMPL_VAR ESCAPE="HTML" NAME="NAME">">
          <TMPL_LOOP NAME="SERVICES">
            <div class="row">
              <div class="col-md-6">
                <a href="<TMPL_VAR NAME="URLX">">
                  <img class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
                   src="<TMPL_VAR NAME="IMGDAY">"
                   alt="<TMPL_VAR ESCAPE="HTML" NAME="NAME">" 
                       <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> 
                   <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/>
                </a>
              </div>
              <div class="col-md-6">
                <a href="<TMPL_VAR NAME="URLX">">
                  <img class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
                   src="<TMPL_VAR NAME="IMGWEEK">" 
                   alt="<TMPL_VAR ESCAPE="HTML" NAME="NAME">" 
                   <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> 
                   <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/>
                </a>
              </div>
            </div>
          </TMPL_LOOP>
        </div>
      </TMPL_LOOP>
    </div>
	
<TMPL_INCLUDE NAME="partial/footer.tmpl">
